<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <connectionStrings>
		<add name="BddContext" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ExercicesListGenerator.Models.BddContextTest;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFrameworkMUE" />
  </connectionStrings>
</configuration>
