body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    width: 100%; /* Full width */
    padding: 8px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 2px; /* Add a top margin */
    margin-bottom: 2px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: #1a0000;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: inherit;
}

    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
        background-color: darkred;
    }

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
}

h1 {
    text-align: left;
    text-transform: uppercase;
    color: #1a0000;
}

table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: darkred;
    color: white;
}

div.polaroid {
    width:auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 50px 0 rgba(0, 0, 0, 0.19);
}

div.polaroidContainer {
    text-align: center;
    padding: 10px 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}